@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');
#map {
  height: 100%;  
  margin: 70px 0 0 150px;
  width: 50%;
}

/* Optional: Makes the sample page fill the window. */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  
}

body {
  padding: 0 !important;
  font-family: 'Comfortaa', cursive;
}

table {
  font-size: 12px;
}

.hotel-search {
  font-family: 'Comfortaa', cursive;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  position: absolute;
  top: 0;
  width: 60%;
  z-index: 1;
  margin: 75px 150px;
}

#listing {
    font-family: 'Comfortaa', cursive;
    position: absolute;
    width: 400px;
    height: 620px;
    overflow: auto;
    top: 0;
    cursor: pointer;
    overflow-x: hidden;  
    left: 0;
    margin: 120px 0 0 790px;
}
#controls {
  font-family: 'Comfortaa', cursive;
  -webkit-box-flex: 1 1 140px;
  -ms-flex: 1 1 140px;
  flex: 1 1 140px;
  display: none;
}
#findhotels {
  font-family: 'Comfortaa', cursive;
  font-size: 14px;
}

#locationField {
  font-family: 'Comfortaa', cursive;
  -webkit-box-flex: 1 1 190px;
  -ms-flex: 1 1 190px;
  flex: 1 1 190px;
  margin: 0 8px;
}

#autocomplete {
  font-family: 'Comfortaa', cursive;
  width: 100%;
}

#country {
  font-family: 'Comfortaa', cursive;
  width: 100%;
}

.placeIcon {
  width: 20px;
  height: 34px;
  margin: 4px;
}

.hotelIcon {
  width: 24px;
  height: 24px;
}

#resultsTable {
  font-family: 'Comfortaa', cursive;
  border-collapse: collapse;
  width: 400px;
}

#rating {
  font-size: 13px;
  font-family: 'Comfortaa', cursive;
}

.iw_table_row {
  height: 18px;
}

.iw_attribute_name {
  font-weight: bold;
  text-align: right;
}

.iw_table_icon {
  text-align: right;
}

.mv-wtp{
    height: 600px;  
    margin: 0 0 50px 150px;
    width: 75%;
}

nav{
    font-family: 'Comfortaa', cursive;
    letter-spacing: 2px;
    font-size: 150%;
    font-weight: 600;
    background-color: #00B74A;
}

#title{
    text-align: center;
    width:100%;
}

#transit-header{
    text-align: center;
    letter-spacing: 2px;
    background-color: #00B74A;
    height: 100px;
    margin-top: 15px;
    margin-bottom: 15px;
    color: #fff;
    padding: 30px;
}

footer{
    width: 100%;
    text-align: center;
    font-family: 'Comfortaa', cursive;
    font-size: smaller;
    letter-spacing: 2px;
    background-color: #00b74a;
    color: #fff;
}